.our-team {
  width: 80%;
  background-color: rgba(160, 160, 160, 0.253);
  border: 2px solid red;
  margin: 0 auto;
  height: 700px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 58px;
  margin-top: 58px;
}

.team-heading{
  margin: 80px auto;
  text-align: center;
}

.team-heading h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.team-card {
  width: 95%;
  height: 95%;
  border-radius: 20px;
  border: 2px solid blue;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  text-align: left;
}

#team-card-1 {
  background-image: url("../images/trainer1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-2 {
  background-image: url("../images/trainer2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-3 {
  background-image: url("../images/trainer3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-4 {
  background-image: url("../images/trainer4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-5 {
  background-image: url("../images/trainer5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-6 {
  background-image: url("../images/trainer6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.trainer-text {
  padding: 12px;
}
