@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.cdnfonts.com/css/miama');

.hide {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1800px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
}

/* shared styles */
.btn-primary {
  font-family: "Inter", sans-serif;
  padding: 15px 30px;
  color: white;
  background-color: #e6533c;
  border-radius: 24px;
  font-size: medium;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

p {
  color: gray;
  font-size: 15px;
  font-weight: bold;
}

/* nav hero container styles */
.nav-hero-background-container {
  width: 100%;
  height: 44rem;
  padding: 1px;
  background: linear-gradient(black, rgba(128, 128, 128, 0.247), black);
}

/* navbar styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}
.list-item{
  cursor: pointer;
}

.navbar-container {
  display: flex;
  align-items: center;
  list-style: none;
  border: 2px solid rgb(131, 131, 131);
  border-radius: 50px;
  padding: 4px;
  width: 430px;
  height: 57px;
  justify-content: space-between;
  align-items: center;
}

#clicked {
  background-color: #e6533c;
}

.list-item {
  padding: 13px;
  border-radius: 37px;
  width: 90px;
  text-align: center;
}
.fa-solid {
  display: none;
}

/* hero section style */




.hero-container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
}

.hero-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-content > h1{
  font-size: 71px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.miama{

font-family: 'Miama', sans-serif;
font-weight: 300;
font-size: 137px;
                                                
                                                
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid white;
}

.hero-img-container {
  height: 100%;
  width: 50%;
  background-image: url("../images/Images\ 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-content {
  width: 50%;
}

.hero-img-badge1 , .hero-img-badge2{
  width: 193px;
height: 98px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.hero-img-badge1{
  position: relative;
  top: 31%;
  left: 46%;

}

.hero-img-badge2{
  flex-direction: row;
  gap: 12px;
  position: relative;
  top: 50%;
  left: 6%;
}


.hero-img-badge1 h1, .hero-img-badge2 h1{
  width: 153px;
  font-size: 40px;
font-weight: 900;
}
.hero-img-badge2 h1{
  width: 100px;
  font-size: 24px;
}



#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid rgb(255, 255, 255);
  border-bottom: 50px solid transparent;
  z-index: 1;
  height: 10px;
  width: 10px;
}
/* change habits styles */
.change-habit-section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.round-card-heading-content {
  text-align: center;
  margin: 60px 0;
}

.round-card-heading-content > h1 {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.round-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.round-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.round-card > img {
  border-radius: 50%;
}

.round-card > p{
  font-size: 12px;
}

/* run-extra-mile styles */

.motivation {
  width: 80%;
  margin: 30px auto;
  height: 400px;
  border-radius: 30px;
  background-color: #222222;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.motivation-content {
  width: 50%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.motivation-content > h1{
font-size: 38px;
}

.motivation-content p{
  margin-bottom: 10px;
}

.motivation-img {
  width: 49%;
  height: 95%;
  background-image: url("../images/run.jpg");
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* BMI section */
.bmi-calculator{
  margin-top: 80px ;
}
.bmi-chart-calc-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #222222;
  height: 400px;
}




.bmi-section-heading{
  text-align: center;

  margin: 40px auto;
}

.bmi-section-heading h1{
  margin-bottom: 20px;
}

#bmi-p{
  margin: 20px 0px;
}
/* bmi table section  */

.table-chart > h1 {
  margin: 20px auto;
  text-align: center;
}

.table-chart{
  width: 30%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* bmi tabel section end */

/* bmi input section start */
.calc h1, .calc p{
  padding-left: 5px;
}
.bmi-input-section{
display: flex;
flex-direction: column;
gap: 5px;
}

.bmi-input{
width: 49%;
padding: 10px;
border-radius: 8px;
background-color: darkgray;
color: black;
}

.bmi-input-s{
  width: 99%;
  padding: 10px;
  border-radius: 8px;
  background-color: darkgray;
  color: black;
}

.bmi-button{
  margin-top: 10px;
}


/* bmi input section end */



/* our team section start */

.our-team {
  width: 80%;
  background-color: rgba(160, 160, 160, 0.253);
  margin: 0 auto;
  height: 700px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-bottom: 58px;
  margin-top: 58px;
}

.team-heading{
  margin: 80px auto;
  text-align: center;
}

.team-heading h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.team-card {
  width: 95%;
  height: 95%;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  text-align: left;
}

#team-card-1 {
  background-image: url("../images/trainer1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-2 {
  background-image: url("../images/trainer2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-3 {
  background-image: url("../images/trainer3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-4 {
  background-image: url("../images/trainer4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-5 {
  background-image: url("../images/trainer5.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#team-card-6 {
  background-image: url("../images/trainer6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.trainer-text {
  padding: 12px;
}

/* our team section end */

/* shop section start */
.shop-heading{
  text-align: center;
  margin: 40px 0;
}
.shop-heading h1{
margin-bottom: 10px;
}

.shop-products{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 20px;
  justify-items: center;
}

.product-card{
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.063);
}

.product-card img{
  width: 100%;
}

.product-card h4 ,.product-card p{
 padding-left: 6px;
}

.product-card button{
  margin-left: 5px;
  color: white;
}

.product-card h4{
  margin: 10px 0px;
}
.shop-btn{
  background-color: green;
  padding: 5px 20px;
  margin-top: 5px;
  border-radius: 10px;
}
/* shop section end */

/* footer  */
footer {
  width: 100%;
  background-color: #222222;
}

.footer-card-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 20rem;
  justify-content: center;
}

.footer-card {
  margin: auto;
}

hr {
  width: 80%;
  margin: 20px auto;
}

.copyright {
  text-align: center;
  font-size: 15px;
font-weight: 300;
padding-bottom: 10px;
}

footer p{
  margin: 20px 0;
}


/* reponsive css start */

@media screen and (max-width: 600px) {
  .fa-solid {
    display: block;
  }
  .navbar-container {
    display: none;
  }
  .round-card-container,
  .hero-container,
  .motivation,
  .bmi-chart-calc-section {
    flex-direction: column;
  }

  .hero-content,
  .hero-img-container,
  .hero-container {
    width: 100%;
  }
  .hero-content > h1{
    font-size: 45px;
    padding-left: 8px;
  }
  .hero-content > p{
    padding-left: 8px;
    
  }
  .nav-hero-background-container {
    height: 60rem;
  }
  .hero-container {
    height: 53rem;
  }

  /* hero section */

  .hero-img-badge1,
  .hero-img-badge2 {
    width: 140px;
    height: 65px;
  }

  .hero-img-badge1 p,
  .hero-img-badge2 p{
    font-size: 12px;
  }


  .hero-img-badge1 h1, .hero-img-badge2 h1{
    width: 120px;
    font-size: 30px;
    font-weight: 900;
  }
  .hero-img-badge2 h1{
    width: 80px;
    font-size: 24px;
  }
  
  .hero-btn{
    padding: 12px 16px;
  }
  .ellipse{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
  }

  /* round card section */
  .round-card h3{
   width: 107px;
   text-align: center;
   margin: 20px 0;
  }
  .round-card p{
   width: 200px;
   text-align: center;
   /* margin: auto; */
  }

  /* change your habit section */
  .change-habit-section {
    width: 100%;
  }

  /* motivation content */
  .motivation-content {
    width: 100%;
    height: 50%;
    padding: 0px 25px;
  }
  .motivation-content p{
    padding-right: 10px;
  }
  .motivation-img {
    width: 93%;
    height: 50%;
    margin-bottom: 11px;
  }

  .motivation {
    height: 525px;
    width: 95%;
  }

  .motivation-content h1{
    margin-top: 20px;
    font-size: 25px;
    }
  /* our team styles */
  .our-team {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    height: 2800px;
  }

  #team-card-1 {
    background-image: url("../images/trainer1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .our-team{
    height: 2000px;
  }

  /* bmi styles */
  .bmi-chart-calc-section {
    height: 800px;
  }

  /* table styles */
  .table-chart {
    width: 80%;
  }



  /* shop section */
  .shop-products{
    grid-template-columns: repeat(1 ,1fr);
  }

.product-card{
  width: 284px;

}

  /* footer styles */
  .footer-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    height: 685px;
    display: flex;
    flex-direction: column;
  }
  .footer-card-container {
    height: 37rem;
  }
.footer-card > img{
  padding-top: 20px;
}
.footer-hr{
margin-top: 20px;
}
}

/* reponsive css end */
